* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-white: #faf9f6;
}

body {
    background-color: var(--color-white);
}
/* Banner CSS Start*/
.article {
    background: linear-gradient(rgba(141,100,165,0.8), rgba(141, 100, 165,0.8)),url('../images//banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: 0.5fr 100px 0.5fr;
    grid-template-rows: 310px 50px;
    grid-template-areas: 
        "title pipe texts"
        "span span span" 
}

.article h2 {
    font-size: 50px;
    color: white;
    grid-area: title;
    align-self: center;
    margin-left: 90px;
    
}

.article .pipe {
    grid-area: pipe;
    border-left: 2px solid grey;
    height: 90px;
    position: relative;
    left: 50%;
    top: 35%;
}

.article p {
    grid-area: texts;
    color: #A9A9A9;
    font-size: 16px;
    align-self: center;
    margin-left: 50px;
    margin-right: 50px;
}

.article .span {
    grid-area: span;
    grid-column: 1/-1;
    margin-left: 50px;
    word-spacing: 50px;   
}

/* Banner CSS End */

/* Intro Start */
.intro {
    margin: 60px 200px;
}

.intro h2 {
    margin: 100px 0px;
    color: #3E2559;
    font: 42px;
}

.intro p {
    color: #3E2559;
}
/* Intro End */
/* Rules listing Start */
.grid-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 200px;
}

.grid-section .grid {
    column-count: 2;
    column-gap: 70px;
}

.grid .item h3 {
    font-size: 32px;
    color: #3E2559;
    text-decoration: underline;
    cursor: pointer;
}

.grid .item ul {
    list-style-type: none;
    color: #6B7C94;
    font-size: 16px;
    text-decoration: underline;
    line-height: 25px;
    cursor: pointer;
}

/* Horizontal Line */
.horizontal-line {
    margin: 100px 0;
}

/* Rules Listing 2 */
.grid2 .item h3 {
    font-size: 32px;
    color: #3E2559;
    text-decoration: underline;
    cursor: pointer;
}

.grid2 .item ul {
    list-style-type: none;
    color: #6B7C94;
    font-size: 16px;
    text-decoration: underline;
    line-height: 25px;
    cursor: pointer;
}

/* Footer Info Section */
.footer-info {
    text-align: center;
    padding: 120px;
}

.footer-info p {
    margin: 50px 125px;
    color: #6B7C94;
}

.footer-info .free-trial-btn {
    background-color: #C6366E;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.footer-info .free-trial-btn:hover {
    background-color: #191D32;    
}

/* Footer */
.footer {
    padding: 50px 120px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 150px 150px auto;
    grid-template-areas: 
        "aws product company address-social"
}

.footer img {
    grid-area: aws;
}

.footer .product {
    grid-area: product;
    list-style-type: none;
    color: #6B7C94;
    text-decoration: underline;
    font-size: 14px;
}

.footer .company {
    grid-area: company;
    list-style-type: none;
    color: #6B7C94;
    text-decoration: underline;
    font-size: 14px;
}

.footer .address-social {
    grid-area: address-social;
    text-align: right;
    font-size: 14px;
    color: #6B7C84;
}

.footer .address-social .social .fab {
    padding-right: 20px;
}